
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}

:root {
    --input-bg-color: #f4f4ff;
    --border-color: gray;
}

button, input, select {
    padding: 5px;
    background-color: var(--input-bg-color);
    border: solid var(--border-color) 2px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover:enabled, input:hover:enabled, select:hover:enabled {
    filter: brightness(125%);
}
button:disabled, input:disabled, select:disabled {
    background-color: #ccc;
    cursor: default;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Make the select dropdown arrow with line gradients:
        - The two first make a V with the center transparent and the edges the same color as the background (the background color is 40% to add anti-aliasing)
        - The third fills the center of the V with the border color */
    background-image:
        linear-gradient(45deg, var(--input-bg-color) 40%, transparent 50%),
        linear-gradient(-45deg, var(--input-bg-color) 40%, transparent 50%),
        linear-gradient(var(--border-color), var(--border-color));
    background-position: right 5px center;
    background-size: 20px 10px;
    background-repeat: no-repeat;
    padding-right: 25px;
}

input[type="color"] {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 5px;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

input[type="text"] {
    cursor: text;
    width: 95%;
}

.hiddenElement {
    display: none;
}

/* Decoration tables -------------------------------------------------------- */

.decorationTable {
    width: 100%;
    height: 25%;
    text-align: center;
}
.decorationTable td:not(.decorationTableCenter) {
    width: 25%;
}

.decorationTableCenter {
    width: 50%;
}

#preferencesIcon {
    width: 25%;
    height: 10%;
    cursor: pointer;
}
#preferencesIcon:hover {
    background-color: #bbb;
    border-radius: 15px;
}

#preferencesFields {
    text-align: left;
}
#preferencesSaveButton {
    float: right;
}
.treeHeader {
    display: block;
    cursor: pointer;
    user-select: none;
}
.treeHeader:hover {
    background-color: #bbb;
}
.treeHeader::before {
    cursor: pointer;
    content: "\25B6";
    color: var(--border-color);
    display: inline-block;
    text-align: left;
    margin-right: 6px;
}
.treeHeaderOpen::before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.treeChild {
    margin-left: 7%;
}

.defaultCornersDecoration {
    display: inline-flex;
    vertical-align: middle;

    border-bottom: 65px solid rgb(255,0,0);
    border-left: 65px solid transparent;

    animation: rainbowAnimation 60s linear infinite;
}
@keyframes rainbowAnimation {
    100%,0%{ border-bottom-color: rgb(255,000,000); }
    06.25% { border-bottom-color: rgb(255,085,000); }
    12.25% { border-bottom-color: rgb(255,170,000); }
    18.75% { border-bottom-color: rgb(255,255,000); }
    25.00% { border-bottom-color: rgb(170,255,000); }
    31.25% { border-bottom-color: rgb(085,255,000); }
    37.50% { border-bottom-color: rgb(000,255,000); }
    43.75% { border-bottom-color: rgb(000,255,085); }
    50.00% { border-bottom-color: rgb(000,255,170); }
    56.25% { border-bottom-color: rgb(000,255,255); }
    62.50% { border-bottom-color: rgb(000,170,255); }
    68.75% { border-bottom-color: rgb(000,085,255); }
    75.00% { border-bottom-color: rgb(000,000,255); }
    81.25% { border-bottom-color: rgb(085,000,255); }
    87.50% { border-bottom-color: rgb(170,000,255); }
    93.75% { border-bottom-color: rgb(255,000,255); }
}

#cornerTR.defaultCornersDecoration, .rotationTR {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#cornerBL.defaultCornersDecoration, .rotationBL {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#cornerBR.defaultCornersDecoration, .rotationBR {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.iconButton {
    height: 32px;
    padding-right: 32px;
    background-position: right;
    background-repeat: no-repeat;
}
#preferencesAddRowButton {
    background-image: url(images/addRow.svg);
}
#preferencesAddColumnButton {
    background-image: url(images/addColumn.svg);
}
#preferencesDeleteRowButton {
    background-image: url(images/deleteRow.svg);
}
#preferencesDeleteColumnButton {
    background-image: url(images/deleteColumn.svg);
}

/* Main table --------------------------------------------------------------- */

#sitesTable {
    width: 100%;
    height: 50%;
    text-align: center;
}

#sitesTable td {
    border: solid var(--border-color) 3px;
    background: #ffffff no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
#sitesTable td:hover {
    filter: brightness(75%);
}

.editMark {
    color: white;
    background: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

#blockingDiv {
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
#editSite {
    background-color: #e1e1e1;
    padding: 10px;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}
@keyframes editSiteAnimationEnter {
    from { margin-top: -30%; }
    to { margin-top: 5%; }
}
@keyframes editSiteAnimationExit {
    from { opacity: 1; }
    to { opacity: 0; }
}
#editSiteHeader {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}
#editSiteCancelButton {
    float: none;
}
#editSiteSaveButton {
    float: right;
}
